<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
  {% if page.title %} {{ page.title }} {% endif %} | {% if page.subtitle %} {{
  page.subtitle }} | {% endif %} {{ site.title }}
</title>
<meta
  name="description"
  content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
/>
{% if page.tags %}<meta
  name="keywords"
  content="{{ page.tags | join: ', ' }}"
/>{% endif %}
<link
  rel="canonical"
  href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}"
/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>   
  function clearCookies() {
    var cookies = document.cookie.split("; ");
    for (var c = 0; c < cookies.length; c++) {
        var d = window.location.hostname.split(".");
        while (d.length > 0) {
            var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
            var p = location.pathname.split('/');
            document.cookie = cookieBase + '/';
            while (p.length > 0) {
                document.cookie = cookieBase + p.join('/');
                p.pop();
            };
            d.shift();
        }
    }
  }

  function clearLocalStorage() {
    localStorage.clear();
  }

  function blinkText(containerClass) {
    $('.' + containerClass).fadeOut(500);
    $('.' + containerClass).fadeIn(500);
  }

  $(document).ready(function () {
    clearCookies();
    clearLocalStorage();

    setInterval(function() {
      blinkText('subheader-note');
    }, 1650);
  });
</script>

<!-- Cookies consent functionality -->
<!-- <script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-MR7E7H1WLM"
></script> -->

<!-- <script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }

  function addLocalStorageConsent(value) {
    var consentObject = { value: value, timestamp: new Date().getTime() };
    localStorage.setItem("cookieConsent", JSON.stringify(consentObject));
  }

  function acceptPolicy() {
    addLocalStorageConsent(true);
    gtag("js", new Date());
    gtag("config", "G-MR7E7H1WLM");
  }

  function rejectPolicy() {
    addLocalStorageConsent(false);
  }

  function isPrivacyPolicyPageActive() {
    return window.location.href.indexOf("privatumas") > -1;
  }

  function clear() {
    clearCookies();
    clearLocalStorage();
  }

  function clearCookies() {
    var cookies = document.cookie.split("; ");
    for (var c = 0; c < cookies.length; c++) {
        var d = window.location.hostname.split(".");
        while (d.length > 0) {
            var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
            var p = location.pathname.split('/');
            document.cookie = cookieBase + '/';
            while (p.length > 0) {
                document.cookie = cookieBase + p.join('/');
                p.pop();
            };
            d.shift();
        }
    }
  }

  function clearLocalStorage() {
    localStorage.clear();
  }

  $(document).ready(function () {
    var cookiePopupWrapper = $("#cookie-popup-wrapper");
    var cookiePopup = $("#cookie-popup");
    var acceptBtn = $("#accept-btn");
    var rejectBtn = $("#reject-btn");

    var cookieConsentValue = localStorage.getItem("cookieConsent");
    if (cookieConsentValue == null) {
      clear();
    }

    if (cookieConsentValue != null) {
      var object = JSON.parse(localStorage.getItem("cookieConsent"));
      if (object.value == false) {
        oneDayOldDate = new Date().getTime() - (7 * 24 * 60 * 60 * 1000);
        consentDate = object.timestamp;
        if(consentDate <= oneDayOldDate) {
          clear();
        }
      }
    }

    var cookieConsentValue = localStorage.getItem("cookieConsent");
    if (cookieConsentValue == null && !isPrivacyPolicyPageActive()) {
      cookiePopupWrapper.show();
    }

    acceptBtn.click(function () {
      clear();
      acceptPolicy();
      cookiePopupWrapper.hide();
    });

    rejectBtn.click(function () {
      clear();
      rejectPolicy();
      cookiePopupWrapper.hide();
    });

    $("#linkToPrivacyPolicy").click(function () {
      cookiePopupWrapper.hide();
    });
  });
</script>

<div id="cookie-popup-wrapper" style="display: none">
  <div id="cookie-popup">
    <p>
      Mes naudojame neprivalomus slapukus, kad pagerintume jūsų naršymo patirtį
      mūsų svetainėje. Šie slapukai padeda mums suprasti, kaip jūs sąveikaujate
      su mūsų svetaine ir leidžia mums gerinti jos funkcionalumą. Daugiau
      informacijos galite rasti mūsų
      <a
        id="linkToPrivacyPolicy"
        href="{{ '/privatumas' | prepend: site.baseurl }}"
        style="font-weight: 100"
        >Privatumo politikoje</a
      >.
    </p>
    <button id="accept-btn">Priimti</button>
    <button id="reject-btn">Atmesti</button>
  </div>
</div> -->
