---
layout: default
---
{% include page/title.html %}

<div class="page-with-image-content">
    <div class="page-img-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2292.770912143606!2d23.960538277222376!3d54.924492055483604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e71915e6cbdf2b%3A0x7dad30fe0ecf42e6!2zS2FsbmllxI1pxbMgUEM!5e0!3m2!1sen!2slt!4v1713246919341!5m2!1sen!2slt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="page-content-container">
        {{ content }}
    </div>
</div>

{% include page/about.html %}
