---
layout: default
---
{% include page/title.html %}

<div class="page-with-image-content">
    <div class="contacts-map-container">
        <iframe class="contacts-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d810.6169267516328!2d23.962238146481532!3d54.924492208861246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e7194c0882d8ef%3A0x9989bc0458735797!2sVidinis%20Vaikas!5e0!3m2!1sen!2slt!4v1713261721082!5m2!1sen!2slt"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="page-content-container">
        {{ content }}
    </div>
</div>

{% include page/about.html %}
