---
layout: default
---
{% include page/title.html %}

<div class="page-with-image-content">
    <div class="page-img-container">
        {%if page.imageClickLink%}
            <a href="{{ '/' | prepend: page.imageClickLink }}" class="logo-text-link" target="_blank">
                <img src="{{ page.imageUrl | prepend: site.baseurl }}" class="page-img" alt="{{ page.imageAlt }}">
            </a>
        {% else %} 
            <img src="{{ page.imageUrl | prepend: site.baseurl }}" class="page-img" alt="{{ page.imageAlt }}">
        {% endif %}
    </div>
    <div class="page-content-container">
        {{ content }}
    </div>
</div>

{% include page/about.html %}
